<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <!-- <h1><a href="#">Home</a></h1> -->
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <!-- <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul> -->
      <!-- Right Nav Section -->
      <ul class="right pull-1">
        <li class=<%= @active == 'Index' ? 'active' : '' %>><a href="/">Home</a></li>
        <!-- <li class=<%#= @active == 'Services' ? 'active' : '' %>><a href="/services">Services</a></li>
        <li class=<%#= @active == 'Team' ? 'active' : '' %>><a href="/team">Team</a></li> -->
        <li class=<%= @active == 'About' ? 'active' : '' %>><a href="/about">About</a></li>
        <li class="divider"></li>
        <li class="has-form">
          <a href="https://www.facebook.com/pages/Titan-Shoring-Construction-LLC/464818690302199" class="icon" target="_blank"><img width='100px'src="/assets/fb.jpg"></a>
        </li>
      </ul>
    </section>
  </nav>
</div>