<% content_for :title do %>
  Titan Shoring | About
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">

      <p>Titan Shoring & Construction, LLC is a foundation and house raising contractor with more than 20 years of heavy foundation construction experience working along the New Jersey Coast.  With extensive knowledge and experience in driven and helical pilings, concrete, engineering, and house raising; Titan is well equipped and qualified to handle all aspects of your house raising and foundation project.  We can also construct foundations for new construction projects, or repair existing foundations.</p>

      <p>We have taken great strides to ensure that we carry the proper insurance to safely operate in the house raising and foundation construction industry. Along with our general liability and worker’s compensation policies, we also carry a Care, Custody, and Control endorsement which provides coverage to the home and its contents while it is elevated off of its permanent foundation.</p>

      <p>Titan Shoring & Construction, LLC is owned and operated by lifelong residents of the Greater Atlantic City region and employs New Jersey residents. We utilize local suppliers for materials needed on each job because we strongly believe in supporting New Jersey businesses first.</p>

      <p>Please do not hesitate to contact us today for all of your foundation and house raising needs!</p>

    </div>
  </div>
</div>