<% content_for :title do %>
  TRM CPA | About
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Our team has been serving South Jersey businesses and residents for over 30 years.</h4>

      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li>
          <img src="/assets/face-blank.jpeg">
          <h3 class="text-center">Terrence Mooney</h3>
          <p class="text-center">Certified Public Accountant</p>
        </li>
        <li>
          <img src="/assets/face-blank.jpeg">
          <h3 class="text-center">Jane Doe</h3>
          <p class="text-center">Certified Public Accountant</p>
        </li>
        <li>
          <img src="/assets/face-blank.jpeg">
          <h3 class="text-center">John Doe</h3>
          <p class="text-center">Accountant</p>
        </li>
        <li>
          <img src="/assets/face-blank.jpeg">
          <h3 class="text-center">Jim Doe</h3>
          <p class="text-center">Accountant</p>
        </li>
        <li>
          <img src="/assets/face-blank.jpeg">
          <h3 class="text-center">Kevin Doe</h3>
          <p class="text-center">Secretary</p>
        </li>
        <li>
          <img src="/assets/face-blank.jpeg">
          <h3 class="text-center">Kelly Doe</h3>
          <p class="text-center">Operations Manager</p>
        </li>
      </ul>

    </div>
  </div>
</div>