<% content_for :title do %>
  Titan Shoring | Home
<% end %>

<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit>
      <li>
        <img src="/assets/unified_jack_full_view.JPG" alt="slide 1" />
        <div class="orbit-caption">
          Experience You Can Trust.
        </div>
      </li>
      <li>
        <img src="/assets/unified_jack_side.JPG" alt="slide 2" />
        <div class="orbit-caption">
          Personalized Consultation.
        </div>
      </li>
      <li>
        <img src="/assets/unified_jack_front.JPG" alt="slide 3" />
        <div class="orbit-caption">
          Proudly Serving New Jersey.
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3 class="text-center">Titan Shoring & Construction, LLC is a complete foundation construction contractor with a focus on house raising.</h3>
      <div class="divider"></div>
      <hr>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <div class="callout panel">
            <h3 class='text-center'><strong>House Raising</strong></h3>
            <hr>
            <p class='text-justify'>With extensive knowledge and experience in driven and helical pilings, engineering, and house raising, Titan is well equipped and qualified to handle all aspects of your house raising and foundation project.</p>
          </div>
        </div>
        <div class="large-4 medium-4 columns">
          <div class="callout panel">
            <h3 class='text-center'><strong>Foundations</strong></h3>
            <hr>
            <p class='text-justify'>If raising your home is not an option, Titan will construct a new foundation consisting of driven pilings with elevated stringers, concrete footings and block walls, helical pilings with poured concrete columns or any combination to create a solid, lasting foundation for your new home.</p>
          </div>
        </div>
        <div class="large-4 medium-4 columns">
          <div class="callout panel">
            <h3 class='text-center'><strong>Shoring</strong></h3>
            <hr>
            <p class='text-justify'>We can utilize helical pilings to repair an undermined foundation, shoring up a settling wall, or secure an elevated house on a piling foundation when relocation is not an option.</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <hr>
      <h3 class='text-center'><strong>Contact us today for a consultation at (609) 641-4343</strong></h3>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="large-8 medium-8 columns">
    <h5>Here&rsquo;s your basic grid:</h5>


    <div class="row">
      <div class="large-12 columns">
        <div class="callout panel">
          <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="callout panel">
          <p>Six columns</p>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="callout panel">
          <p>Six columns</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
    </div>

    <hr />

    <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-12.columns" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <div class="row collapse">
            <label>Input Label</label>
            <div class="small-9 columns">
              <input type="text" placeholder="small-9.columns" />
            </div>
            <div class="small-3 columns">
              <span class="postfix">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Select Box</label>
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.columns"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="large-4 medium-4 columns">
    <h5>Try one of these buttons:</h5>
    <p><a href="#" class="small button">Simple Button</a><br/>
    <a href="#" class="small radius button">Radius Button</a><br/>
    <a href="#" class="small round button">Round Button</a><br/>
    <a href="#" class="medium success button">Success Btn</a><br/>
    <a href="#" class="medium alert button">Alert Btn</a><br/>
    <a href="#" class="medium secondary button">Secondary Btn</a></p>
    <div class="panel">
      <h5>So many components, girl!</h5>
      <p>A whole kitchen sink of goodies comes with Foundation. Checkout the docs to see them all, along with details on making them your own.</p>
      <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
    </div>
  </div>
</div> -->