<% content_for :title do %>
  Titan Shoring | Team
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Our team has been serving New Jersey businesses and residents for over 20 years.</h4>

      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li>
          <img src="/assets/face-blank.jpeg">
          <h3 class="text-center">Kevin Prendergast</h3>
          <p class="text-center">Certified</p>
        </li>
      </ul>

    </div>
  </div>
</div>